body {

    color: rgba(178, 34, 166, 0.541);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

div {

    color: green;
    font-size: x-large;
    font-weight: bolder;
}

span {

    font-style: italic;

}

.redText {

    color: red;
    font-size: x-large;

}

header {

    color: aqua;
}